/*通用样式*/
*{
	margin: 0;
	padding: 0;
}
body{
	 background-color: #f3f3f3;
    	font-family:"微软雅黑";
}
a{
	text-decoration: none;
}
img{
	border: none;
}
/*header*/
.container{
	width: 1000px;
	margin: 0 auto;
}
div#logo{
	display: inline-block;
}
div#sousuo {

    display: inline-block;
    vertical-align: top;
    margin-top: 52px;
    margin-left: 239px;

}

input[type="text"]{
	
    width: 138px;
    height: 40px;
    font-size: 16px;
    padding-left: 10px;
    background-color: #f3f3f3;
    border: solid 1px #ccc;
	display:inline-block ;
}
input[type="submit"]{
	width: 61px;
    height: 42px;
    background-color: #3598db;
    border: none;
    vertical-align: top;
    color: white;
    font-size: 20px;
}
	
/*nav*/
div#nav nav li{
	display: inline-block;
	padding: 0 10px;
	list-style: none;
	border-right:solid 1px #989898;
	
	-moz-transition: background-color 1s linear; /* Firefox 4 */
	-webkit-transition:background-color 1s linear; /* Safari 和 Chrome */
	-o-transition:background-color 1s linear; /* Opera */
	-ms-transition: background-color 1s linear;
	transition: background-color 1s linear;

}
div#nav nav li.on{
	background-color: #2f89c5;
	
}
div#nav nav li a{
	text-decoration: none;
	color: white;
}
div#nav li:hover{
	background-color: #2f89c5;
}
	
div#nav{
	background-color: #3598db;
	width: 100%;
	height: 60px;
	line-height: 60px;
}


/*轮播图样式*/

div.wrap a{
	color:#fff;
}
div#slide-holder {
width : 628px;
height : 278px;
}
div#slide-runner {
width : 628px;
height : 278px;
overflow : hidden;
position : absolute;
}
div#slide-holder img {
margin : 0;
display : none;
position : absolute;
}
div#slide-controls {
left : 0;
bottom : 0px;
width : 628px;
height : 46px;
display : none;
position : absolute;
}
div#slide-controls p.text {
float : left;
color : #fff;
display : inline;
font-size : 10px;
line-height : 16px;
margin : 15px 0 0 20px;
text-transform : uppercase;
}
p#slide-nav {
float : right;
height : 24px;
display : inline;
margin : 11px 15px 0 0;
}
p#slide-nav a {
float : left;
width : 24px;
height : 24px;
display : inline;
font-size : 11px;
margin : 0 5px 0 0;
line-height : 24px;
font-weight : bold;
text-align : center;
text-decoration : none;
background-position : 0 0;
background-repeat : no-repeat;
}
p#slide-nav a.on {
background-position : 0 -24px;
}
p#slide-nav a {
background-image : url('../images/silde-nav.png');
}
section#lunbotu{
	box-shadow: 1px 4px 15px #blue;;
}


/*主体内容样式*/
div#body_wrapper article{
	display: inline-block;
	vertical-align: top;
	width: 628px;
	margin-right: 20px;
}

div#body_wrapper aside{
	display: inline-block;
	width: 352px;
	height: 200px;
	/*background-color: blue;*/
	
	vertical-align: top;
	
}
div#body_wrapper{
	margin-top: 20px;
}

/*新闻内容样式*/

section#xinwen{
	margin-top: 20px;
	margin-bottom: 10px;
}

div#title_bg{
	height: 45px;
	background: url(../img/title_bg.jpg);
	line-height: 45px;
	padding-left: 10px;
}
div#title_xinwen h2{
	display: block;
	
	
}
div#title_bg a{
	text-decoration: none;
	color:#464445;
	font-size: 16px;
	

}
div#title_bg a:hover{
	-webkit-transform:translate(3,5);
	-moz-transform:translate(3,5);
	font-size: 17px;
	color:orange;
	
}
div#xinwen img{
	width: 315px;
    height: 165px;
}
div#xinwen li{
	display: inline-block;
	width: 100%;
}
section#xinwen a.img{
	display: inline-block;
	height: 165px;
	
}

section#xinwen a.ms{
    display: inline-block;
    width: 314px;
    vertical-align: top;
    text-decoration: none;
    color: white;
    background-color: #3598DC;
    height: 165px;
    padding-left: 10px;
    box-sizing: border-box;
}
section#xinwen ul{
	/*display:inline-block ;*/
	/*margin-top: 20px;*/
}

section#xinwen li{
	display: inline-block;
    width: 100%;
    vertical-align: bottom;
    margin-top: 10px;
}
section#xinwen a.ms h3{
	border-bottom: solid 1px #fff;
	margin-bottom: 7px;
	height: 30px;
	width: 288px;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 10px;
	line-height: 34px;
}

/*活动内容样式*/
section#huodong_a {
    margin-top: 10px;
}

section#huodong_a li{
	display: inline-block;
	width: 150px;
	height: 154px;
	vertical-align: top;
	margin-right: 9px;
}
section#huodong_a li:last-child{
	margin-right: 0px;
}

section#huodong_a li img{
	/*display: inline-block;*/
	width: 150px;
	height: 150px;
	
}
section#huodong_b{
	margin-top: 10px;
	width: 469px;
	display: inline-block;
	vertical-align: top;
	margin-right: 9px;
}
section#huodong_b li{
	display: inline-block;	
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 10px;
	/*word-wrap:break-word;*/
	
	-moz-transition: text-shadow 1s linear; /* Firefox 4 */
	-webkit-transition:text-shadow 1s linear; /* Safari 和 Chrome */
	-o-transition:text-shadow 1s linear; /* Opera */
	transition:text-shadow 1s linear; /* Opera */
	white-space: nowrap;
	counter-increment: list;
	width: 100%;
	height: 26px;
	line-height: 26px;
}

section#huodong_b li:before{
	content: counter(list);
	background: #696969;

	padding: 7px;
	
	color: white;
	
	margin-right: 8px;
}
section#huodong_b li:last-child:before{
	
	padding: 5px;
	font-size: 12px;
	
}
section#huodong_b li:first-child:before,section#huodong_b li:nth-child(2):before,section#huodong_b li:nth-child(3):before{
	background-color: #3598dc;;
}
section#huodong_b li a{
	text-decoration: none;
	color: #414141;
}

section#huodong_b li:hover{
    text-shadow: 1px 4px 4px #000;
}

section#huodong_c{
	display:inline-block;
	width: 150px;
	margin-top: 10px;
}


section#huodong_c li{
	display:inline-block;
	
}

section#huodong_c li:first-child, section#huodong_c li:first-child img {
    width: 150px;
    height: 205px;
}
section#huodong_c li:last-child, section#huodong_c li:last-child img {
    width: 150px;
    height: 154px;
}

/*右边附属信息样式*/
/*div.aside_title_bg{

	background: url('../img/title_bg.jpg') repeat-x;
	height: 45px;
	width: 100%;
	
}*/
div#bx{
	border-bottom: solid 1px #ccc;
	padding-bottom: 13px;
	display: inline-block;
	width: 352px;
}
section#bowen_a li{
	display: inline-block;
	width: 172px;
	height: 136px;
	margin-top: 10px;
	
}




section#bowen_a li:first-child{
	margin-right: 7px;	
}
section#bowen_a h2{
	overflow: hidden;
	height: 25px;
	font-size: 18px;
	color: #14110d;
	margin-left: 5px;
}


/*新闻*/
div#zhaoping{
	display: inline-block;
	margin-top: 10px;
	width: 100%;
	
	margin-right: 9px;
}

div#zhaoping li{
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 10px;
	word-wrap: break-word;
	-moz-transition: text-shadow 1s linear;
	-webkit-transition: text-shadow 1s linear;
	-o-transition: text-shadow 1s linear;
	transition: text-shadow 1s linear;
	white-space: nowrap;
	counter-increment: list;
	width: 100%;
	height: 26px;
	line-height: 26px;
}

div#zhaoping li:before{
	content: counter(list);
	background: #696969;

	padding: 7px;
	
	color: white;
	
	margin-right: 8px;
}

div#zhaoping li:hover{
	text-shadow: 1px 4px 4px #000
}

div#zhaoping li:before{
	background-color: #3598dc;;
}
div#zhaoping li a{
	text-decoration: none;
	color: #414141;
}
/*联盟招聘  */

div#zhaoren{
	margin-top: 20px;
	width: 352px;
	display: inline-block;
	vertical-align: top;
	margin-right: 9px;
}
div#zhaoren li{
	display: inline-block;	
	vertical-align: top;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-top: 10px;
	/*word-wrap:break-word;*/
	
	-moz-transition: text-shadow 1s linear; /* Firefox 4 */
	-webkit-transition:text-shadow 1s linear; /* Safari 和 Chrome */
	-o-transition:text-shadow 1s linear; /* Opera */
	transition:text-shadow 1s linear; /* Opera */
	white-space: nowrap;
	counter-increment: list;
	width: 100%;
	height: 26px;
	line-height: 26px;
}

div#zhaoren li:before{
	content: counter(list);
	background: #696969;

	padding: 7px;
	
	color: white;
	
	margin-right: 8px;
}
div#zhaoren li:last-child:before{
	
	padding: 5px;
	font-size: 12px;
	
}
div#zhaoren li:first-child:before,div#zhaoren li:nth-child(2):before,div#zhaoren li:nth-child(3):before{
	background-color: #3598dc;;
}
div#zhaoren li a{
	text-decoration: none;
	color: #414141;
}

div#zhaoren li:hover{
    text-shadow: 1px 4px 4px #000;
}


/*联系我们*/

div#lianxi{
	width: 100%;
	margin-top: 10px;
}
/*会员*/
section#huiyuan_jieshao{
	
}

section#huiyuan_jieshao li{
	display: inline-block;
	width: 100%;
	vertical-align: top;
	margin-top: 10px;
}
section#huiyuan_jieshao li h4{
	font-size: 16px;
	height: 28px;
	line-height: 28px;
}
section#huiyuan_jieshao li a{
	color: #444;
	text-decoration: none;
	width: 170px;
}
.zgsjj{
	-webkit-transition: padding 0.5s linear; 
	-moz-transition: padding 0.5s linear; 
	-o-transition: padding 0.5s linear; 
	transition: padding 0.5s linear; 
}
.zgsjj:hover{
	border: solid 1px #3598DB;
	-webkit-box-sizing: border-box;
	padding: 10px 0;
}
.zgsjj a{
	display: inline-block;
	vertical-align: top;
}
.zgsjj a:first-child{
	text-decoration: none;	
	width: 170px;
}

.zgsjj a:last-child{
	width: 177px;
	font-size: 12px;
	height: 50px;
	overflow: hidden;	
}
/*footer 样式*/
div#footer_wrapper{
	width: 100%;
	height: 150px;
	background:url(../img/footer.jpg) repeat-x;
	margin-top: 100px;
}
div#footer_wrapper li{	
	display: inline-block;
	list-style: none;	
	vertical-align: bottom;	
	margin-top: 57px;	
	padding-right: 25px;	
	font-size: 22px;	
	border-right: solid 1px white;	
	padding-left: 34px;
}
div#footer_wrapper li a{
	text-decoration: none;
	color: white;
}
div#footer_wrapper ul{

    display: block;
    margin-left: 393px;
}
 